<div ng-cloak>
    <div class="site-wrap">
        <section class="bg bg-navigation bg-pattern" id="logged-out-header">
            <div class="container">
                <main-navbar></main-navbar>
                <div class="container container-single-form">
                    <h2 class="text-center" ng-if="vm.loginStage == 1">Sign In</h2>
                    <h2 class="text-center" ng-if="vm.loginStage == 2">Update Phone Number</h2>
                    <div class="row login-form">
                        <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2">
                            <form class="new_user ng-pristine ng-valid" id="new_user" method="post" ng-if="vm.loginStage == 1">
                                <fieldset>
                                    <i class="fa fa-envelope-o fa-lg inline-icon"></i>
                                    <input autofocus="autofocus" required="required" placeholder="Email/Phone" class="has-inline-icon" type="text" value="" name="Emailorphone" id="Emailorphone" ng-model="vm.student.emailorphone">
                                </fieldset>
                                <fieldset>
                                    <i class="fa fa-lock fa-lg inline-icon"></i>
                                    <input required="required" placeholder="Password" class="has-inline-icon" type="password" name="user[password]" id="user_password" ng-model="vm.student.password">
                                </fieldset>
                                <p class="forgot-password text-tertiary">Forget your password? <a href="javascript:void(0)" ui-sref="forgotPassword">Reset Password</a></p>
                                <div class="row text-center">
                                    <div class="col-sm-6 sign-in-btn">
                                        <input type="submit" name="commit" value="Sign in" class="btn btn-primary m0" data-disable-with="Sign in" ng-click="vm.login()">
                                    </div>
                                    <p class="col-sm-12 need-free-account text-tertiary">Need a account? <a href="javascript:void(0);" ui-sref="register">Create account</a></p>
                                </div>
                            </form>
                            <div ng-if="vm.loginStage == 2">
                                <form class="new_user ng-pristine ng-valid" id="new_user" method="post">
                                    <fieldset>
                                        <i class="fa fa-phone fa-lg inline-icon"></i>
                                        <input autofocus="autofocus" required="required" placeholder="Phone" class="has-inline-icon" type="number" value="" name="Phone" id="Phone" ng-model="vm.verification.phone">
                                    </fieldset>
                                    <div class="row text-center">
                                        <div class="col-sm-offset-6 col-sm-6">
                                            <input type="submit" name="commit" value="Send OTP" class="btn btn-primary m0" data-disable-with="Sign in" ng-click="vm.sendOtp()">
                                        </div>
                                    </div>
                                </form>
                                <br />
                                <form class="new_user ng-pristine ng-valid" id="new_user" method="post" ng-if="vm.showOtpField">
                                    <fieldset>
                                        <i class="fa fa-key fa-lg inline-icon"></i>
                                        <input autofocus="autofocus" required="required" placeholder="OTP" class="has-inline-icon" type="number" value="" name="Otp" id="otp" ng-model="vm.verification.OTP">
                                    </fieldset>
                                    <div class="row text-center">
                                        <div class="col-sm-6">
                                            <p class="forgot-password text-tertiary">Didn't received OTP yet? <a href="javascript:void(0)" ng-click="vm.resendOtp()">Resend OTP</a></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="submit" name="commit" value="Verify" class="btn btn-primary m0" data-disable-with="Sign in" ng-click="vm.otpVerification()">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <main-footer-bar></main-footer-bar>
    </div>
</div>
