<div ng-cloak>
    <div class="site-wrap">
        <section class="bg bg-navigation bg-pattern" id="logged-out-header">
            <div class="container">
                <main-navbar></main-navbar>
                <div class="container container-single-form">
                    <h2 class="text-center" ng-if="vm.registerStage == 1">Sign Up</h2>
                    <h2 class="text-center" ng-if="vm.registerStage == 2">Welcome</h2>
                    <div class="row login-form">
                        <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2">
                            <form class="new_user ng-pristine ng-valid" name="new_user" method="post" ng-if="vm.registerStage == 1">
                                <fieldset>
                                    <i class="fa fa-user fa-lg inline-icon"></i>
                                    <input autofocus="autofocus" ng-required="required" placeholder="Name" class="has-inline-icon" type="text" value="" name="Username" id="Username" ng-model="vm.student.username">
                                </fieldset>
                                <fieldset>
                                    <i class="fa fa-envelope-o fa-lg inline-icon"></i>
                                    <input ng-required="required" placeholder="Email" class="has-inline-icon" type="email" value="" name="Email" id="Email" ng-model="vm.student.email_id">
                                </fieldset>
                                <fieldset>
                                    <i class="fa fa-lock fa-lg inline-icon"></i>
                                    <input required="required" placeholder="Password" class="has-inline-icon" type="password" name="Password" id="Password" ng-model="vm.student.password">
                                </fieldset>
                                <div class="row text-center">
                                    <div class="col-sm-6 sign-in-btn">
                                        <input type="submit" name="commit" value="Sign up" class="btn btn-primary m0" data-disable-with="Sign up" ng-click="vm.signup()" ng-disabled="!new_user.$valid" />
                                    </div>
                                    <p class="col-sm-12 need-free-account text-tertiary">By creating this account, you agree to <a href="javascript:void(0);" ui-sref="terms-conditions">our T&C</a> & <a href="javascript:void(0);" ui-sref="privacyPolicy">Privacy Policy</a></p>
                                    <p class="col-sm-12 need-free-account text-tertiary">Already have an account? <a href="javascript:void(0);" ui-sref="login">Sign In</a></p>
                                </div>
                            </form>
                            <div ng-if="vm.registerStage == 2">
                                <span>You have been registered successfuly. Please verify your mobile number</span>
                                <form class="new_user ng-pristine ng-valid" name="sendOtp" method="post">
                                    <fieldset>
                                        <i class="fa fa-phone fa-lg inline-icon"></i>
                                        <input ng-required="required" ng-minlength="10" ng-maxlength="10" placeholder="Mobile" class="has-inline-icon" type="number" value="" name="Mobile" id="Mobile" ng-model="vm.verification.phone" max-length="10" min-length="10">
                                    </fieldset>
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-6">
                                            <input type="submit" name="commit" value="Send OTP" class="btn btn-primary m0" data-disable-with="sendOtp" ng-click="vm.sendOtp()" ng-disabled="!sendOtp.$valid" />
                                        </div>
                                    </div>
                                </form>
                                <br />
                                <form class="new_user ng-pristine ng-valid" id="verifyOtp" method="post" ng-if="vm.showOTP">
                                    <fieldset>
                                        <i class="fa fa-key fa-lg inline-icon"></i>
                                        <input autofocus="autofocus" required="required" placeholder="OTP" class="has-inline-icon" type="number" value="" name="Otp" id="otp" ng-model="vm.verification.OTP">
                                    </fieldset>
                                    <div class="row text-center">
                                        <div class="col-sm-6">
                                            <p class="forgot-password text-tertiary">Didn't received OTP yet? <a href="javascript:void(0);" ng-click="vm.resendOtp()">Resend OTP</a></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="submit" name="commit" value="Verify" class="btn btn-primary m0" data-disable-with="Sign in" ng-click="vm.otpVerification()" ng-disable="!vm.verification.OTP">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <main-footer-bar></main-footer-bar>
    </div>
</div>
