<div ng-cloak>
    <div class="site-wrap">
        <section class="bg bg-navigation bg-pattern" id="logged-out-header">
            <div class="container">
                <main-navbar></main-navbar>
                <div class="container container-single-form">
                    <h2 class="text-center">Reset Your Password</h2>
                    <div class="row">
                        <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2">
                            <hr>
                            <form class="new_user" id="new_user" method="post">
                                <fieldset>
                                    <input autofocus="autofocus" required="required" placeholder="Password" type="password" value="" name="Password" id="Password" ng-model="vm.student.password">
                                </fieldset>
                                <fieldset>
                                    <input required="required" placeholder="Confirm Password" type="password" value="" name="confPassword" id="confPassword" ng-model="vm.student.confPassword">
                                </fieldset>
                                <fieldset>
                                    <input type="submit" name="commit" value="Reset my password" class="btn btn-primary m0" data-disable-with="Reset my password" ng-click="vm.resetPassword()">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <main-footer-bar></main-footer-bar>
    </div>
</div>
