<ul class="offscreen-nav" ng-class="{'active' : !vm.isCollapsed}" ng-click="vm.menuToggle();">
    <li class="top offscreen-nav-li" ui-sref="main"></li>
    <li class="offscreen-nav-li" ng-if="!vm.isStudentLogedIn">
        <a ui-sref="main">Home</a>
    </li>
    <li class="offscreen-nav-li" ng-if="vm.isStudentLogedIn">
        <a ui-sref="dashboard">Dashboard</a>
    </li>
    <li class="offscreen-nav-li">
        <a ui-sref="courses.list">Courses</a>
    </li>
    <li class="offscreen-nav-li">
        <a ui-sref="instructors">Instructor</a>
    </li>
    <li class="offscreen-nav-li" ng-if="vm.isStudentLogedIn">
        <a ui-sref="profile">
            My Account&nbsp;<small>(<i ng-bind="vm.studentInfo.name"></i>)</small>
        </a>
    </li>
    <li class="offscreen-nav-li" ng-click="vm.logout();" ng-if="vm.isStudentLogedIn">
        <a rel="nofollow" data-method="delete" href="javascript:void(0);">Logout</a>
    </li>
    <!--        Not Loged In       -->
    <li class="offscreen-nav-li" ng-click="login" ng-if="!vm.isStudentLogedIn">
        <a rel="nofollow" data-method="delete" href="javascript:void(0);">Sign in</a>
    </li>
    <li class="offscreen-nav-li accent" ng-if="!vm.isStudentLogedIn">
        <a ui-sref="register">Create free account</a>
    </li>
</ul>
