<div class="bottom-navigation" ng-if="!vm.studentInfo.userId">
    <div class="container clearfix">
        <div class="navbar--title">
            <a class="clearfix no-link-style" href="javascript:void(0)">
                <div class="logo"></div>
            </a>
        </div>
        <div class="footer-links-container hidden-xs">
            <ul class="footer-links-list">
                <li class="header">Useful Links</li>
                <li><a ui-sref="register">Create account</a></li>
                <li><a ui-sref="login">Sign-in</a></li>
                <li><a ui-sref="aboutUs">About</a></li>
                <li><a ui-sref="career">Careers</a></li>
            </ul>
            <ul class="footer-links-list">
                <li class="header">Resources</li>
                <li><a ui-sref="courses.list">View All Courses</a></li>
                <li><a ui-sref="instructors">Instructors</a></li>
            </ul>
            <ul class="footer-links-list">
                <li class="header">Support</li>
                <li><a ui-sref="contactUs">Contact Us</a></li>
                <li><a ui-sref="terms-conditions">Terms & Conditions</a></li>
                <li><a ui-sref="privacyPolicy">Privacy Policy</a></li>
            </ul>
            <ul class="footer-links-list">
                <li class="header">Help</li>
                <li><a ui-sref="shippingPolicy">Shipping Policy</a></li>
                <li><a ui-sref="cancellationPolicy">Cancellation Policy</a></li>
                <li><a ui-sref="faq">FAQ</a></li>
            </ul>
        </div>
        <div class="social-icons clearfix">
            <a target="_blank" href="https://twitter.com/flavidostore"><i class="fa fa-twitter fa-2x"></i></a>
            <a target="_blank" href="https://www.facebook.com/flavidostore/"><i class="fa fa-facebook fa-2x"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/flavido"><i class="fa fa-linkedin fa-2x"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UC0Tq0EYN41l4puo0qSl1lEg"><i class="fa fa-youtube fa-2x"></i></a>
        </div>
    </div>
</div>
<div class="bottom-navigation-short" ng-if="vm.studentInfo && vm.studentInfo.userId">
    <div class="container clearfix">
        <div class="navbar--title">
            <a class="clearfix no-link-style" href="javascript:void(0)">
                <div class="logo"></div>
            </a>
        </div>
        <ul class="inline clearfix hidden-xs">
            <li><a ui-sref="contactUs">Contact Us</a></li>
            <li><a ui-sref="terms-conditions">Terms & Conditions</a></li>
            <li><a ui-sref="privacyPolicy">Privacy Policy</a></li>
            <li><a ui-sref="aboutUs">About</a></li>
        </ul>
        <div class="social-icons clearfix">
            <a target="_blank" href="https://twitter.com/flavidostore"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.facebook.com/flavidostore/"><i class="fa fa-facebook"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/flavido"><i class="fa fa-linkedin"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UC0Tq0EYN41l4puo0qSl1lEg"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>
