<div class="bottom-navigation" ng-if="!vm.studentInfo.userId" id="footer">
  <div class="container clearfix">
    <!-- <div class="navbar--title">
      <a class="clearfix no-link-style" href="javascript:void(0)">
        <div class="logo"></div>
      </a>
    </div> -->
    <!-- <div class="footer-links-container hidden-xs">
      <ul class="footer-links-list">
        <li class="header">Useful Links</li>
        <li><a ui-sref="register">Create account</a></li>
        <li><a ui-sref="login">Sign-in</a></li>
        <li><a ui-sref="aboutUs">About</a></li>
        <li><a ui-sref="career">Careers</a></li>
      </ul>
      <ul class="footer-links-list">
        <li class="header">Resources</li>
        <li><a ui-sref="courses.list">View All Courses</a></li>
        <li><a ui-sref="instructors">Instructors</a></li>
      </ul>
      <ul class="footer-links-list">
        <li class="header">Support</li>
        <li><a ui-sref="contactUs">Contact Us</a></li>
        <li><a ui-sref="terms-conditions">Terms & Conditions</a></li>
        <li><a ui-sref="privacyPolicy">Privacy Policy</a></li>
      </ul>
      <ul class="footer-links-list">
        <li class="header">Help</li>
        <li><a ui-sref="shippingPolicy">Shipping Policy</a></li>
        <li><a ui-sref="cancellationPolicy">Cancellation Policy</a></li>
        <li><a ui-sref="faq">FAQ</a></li>
      </ul>
    </div>
    <div class="social-icons clearfix">
      <a target="_blank" href="https://twitter.com/flavidostore"><i class="fa fa-twitter fa-2x"></i></a>
      <a target="_blank" href="https://www.facebook.com/flavidostore/"><i class="fa fa-facebook fa-2x"></i></a>
      <a target="_blank" href="https://www.linkedin.com/company/flavido"><i class="fa fa-linkedin fa-2x"></i></a>
      <a target="_blank" href="https://www.youtube.com/channel/UC0Tq0EYN41l4puo0qSl1lEg/videos"><i class="fa fa-youtube fa-2x"></i></a>
    </div>
  </div> -->
    <div class="container socialBox">
      <div class="row">
        <div class="col-md-2 col-xs-3">
          <a href="#"><img src="assets/images/logo_white.png"  class="footerLogo" /></a>
        </div>
        <div class="col-md-4 pull-right col-xs-9">
          <section class="social">
            <a target="_blank" href="https://www.facebook.com/flavidostore/" class="icon fb">
            <i class="fa fa-facebook soIcon" aria-hidden="true"></i>
        </a>
            <a target="_blank" href="https://twitter.com/flavidostore" class="icon tw">
            <i class="fa fa-twitter soIcon" aria-hidden="true"></i>
            </a>
            <a target="_blank" href="https://www.youtube.com/channel/UC0Tq0EYN41l4puo0qSl1lEg" class="icon gp">
            <i class="fa fa-youtube soIcon" aria-hidden="true"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/flavido" class="icon lnk">
            <i class="fa fa-linkedin soIcon" aria-hidden="true"></i>
            </a>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 footerBox">
          <div class="row">
            <div class="col-md-3 col-sm-3 listMob">
              <h5 class="f_heading"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Useful Links</h5>
              <ul class="footerlist">
                <li id="pra">
                  <span class="right-text">
                    <a ui-sref="register">Create account</a>
                </span>
                  <span class="right-arrow">
                    <a ui-sref="register">&nbsp; &rarr;</a>
                </span>
                </li>
                <li id="pra">
                  <span class="right-text">
                    <a ui-sref="login">Sign-in</a>
                </span>
                  <span class="right-arrow">
                    <a ui-sref="login">&nbsp; &rarr;</a>
                </span>
                </li>
                <li id="pra">
                  <span class="right-text">
                    <a ui-sref="aboutUs">About Us</a>
                </span>
                  <span class="right-arrow">
                    <a ui-sref="aboutUs">&nbsp; &rarr;</a>
                </span>
                </li>
                <li id="pra">
                  <span class="right-text">
                    <a ui-sref="career">Careers</a>
                </span>
                  <span class="right-arrow">
                    <a ui-sref="career">&nbsp; &rarr;</a>
                </span>
                </li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3 listMob">
              <h5 class="f_heading"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Resources</h5>
              <ul class="footerlist">
                <li id="pra">
                  <span class="right-text">
                    <a ui-sref="courses.list">Courses Offered</a>
                </span>
                  <span class="right-arrow">
                    <a ui-sref="courses.list">&nbsp; &rarr;</a>
                </span>
                </li>
                <li id="pra">
                  <span class="right-text">
                    <a ui-sref="instructors">Instructors</a>
                </span>
                  <span class="right-arrow">
                    <a ui-sref="instructors">&nbsp; &rarr;</a>
                </span>
                </li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3 listMob">
              <h5 class="f_heading"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Support</h5>
              <ul class="footerlist">
                <li id="pra">
                  <span class="right-text">
                    <a ui-sref="contactUs">Contact Us</a>
                </span>
                  <span class="right-arrow">
                    <a ui-sref="contactUs">&nbsp; &rarr;</a>
                </span>
                </li>
                <li id="pra">
                  <span class="right-text">
                    <a ui-sref="terms-conditions" >Terms & Conditions</a>
                </span>
                  <span class="right-arrow">
                    <a ui-sref="terms-conditions" >&nbsp; &rarr;</a>
                </span>
                </li>
                <li id="pra">
                  <span class="right-text">
                    <a ui-sref="privacyPolicy">Privacy Policy</a>
                </span>
                  <span class="right-arrow">
                    <a ui-sref="privacyPolicy">&nbsp; &rarr;</a>
                </span>
                </li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3 listMob">
              <h5 class="f_heading"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Help</h5>
              <ul class="footerlist">
                <li id="pra">
                  <span class="right-text">
                    <a ui-sref="shippingPolicy">Shipping Policy</a>
                </span>
                  <span class="right-arrow">
                    <a ui-sref="shippingPolicy">&nbsp; &rarr;</a>
                </span>
                </li>
                <li id="pra">
                  <span class="right-text">
                    <a ui-sref="cancellationPolicy">Cancellation Policy</a>
                </span>
                  <span class="right-arrow">
                    <a ui-sref="cancellationPolicy">&nbsp; &rarr;</a>
                </span>
                </li>
                <li id="pra">
                  <span class="right-text">
                    <a ui-sref="FAQ">FAQ</a>
                </span>
                  <span class="right-arrow">
                    <a ui-sref="FAQ">&nbsp; &rarr;</a>
                </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 paymetntWrap">
          <div class="payemntCard">
            <h5 class="f2_heading"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Payment Method</h5>
            <img src="https://flavido.com/blog/wp-content/uploads/2017/08/card.jpg">
          </div>
        </div>
        <div class="col-md-12 col-sm-12 MailUsWrap">
          <div class="mailUs">
            <h5 class="f3_heading"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Registered &amp; Mailing Address</h5>
            <p class="adressPara">
              Stellar Digital Private Limited,
              <br> 706, Pragati Towers, Rajendra Place,
              <br> Near Rajendra Place Metro Station,
              <br> New Delhi - 110008
              <br> Delhi, India
              <br> CIN : U72200DL2015PTC283093
              <br>
            </p>
          </div>
          <div class="mailUs1">
            <h5 class="f3_heading"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Mail Us</h5>
            <p class="adressPara">
              706, Pragati Towers, Rajendra Place,
              <br> Near Rajendra Place Metro Station,
              <br> New Delhi - 110008
              <br> Delhi, India Telephone : 9555923039
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h5 class="f_heading">
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i> TRENDING SEARCHES FOR ON FLAVIDO STORE
          </h5>
          <h5 class="f_head">Most Searched</h5>
          <p class="linkPara">
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/sociology-optional-notes/">Sociology </a> |
            <a target="_blank" href="https://flavido.com/store/tag/Visionias/">Vision IAS </a> |
            <a target="_blank" href="https://flavido.com/store/tag/forumias/">ForumIAS </a>|
            <a target="_blank" href="https://flavido.com/store/tag/current-affairs/">Current Affairs</a> |
            <a target="_blank" href="https://flavido.com/store/tag/vajiram/">Vajiram</a>|
            <a target="_blank" href="https://flavido.com/store/tag/sriram/">Sriram Economics</a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-gs-notes/gs-environment/">Shankar IAS</a> |
            <a target="_blank" href="https://flavido.com/store/tag/insights/">Insights</a>|
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/anthropology-optional-notes/">Anthroplogy</a> |
            <a target="_blank" href="https://flavido.com/store/tag/iasbaba/">IASBABA</a>
          </p>
          <h5 class="f_head">India's Top IAS Teachers:</h5>
          <p class="linkPara">
            <a href="https://flavido.com/inst/Ravi_R_Chokkalingam_(Rising_IAS)">Ravi Chokkalingam </a> |
            <a href="https://flavido.com/inst/Vikash_Ranjan_(Triumph_IAS)">Vikash Ranjan </a> |
            <a href="https://flavido.com/inst/Himanshu_Sharma_(Guidance_IAS)">Himanshu Sharma </a>|
            <a href="https://flavido.com/inst/Dr_Rambabu_(La_Excellence)">DR. Rambabu Paladudgu</a> |
            <a href="https://flavido.com/inst/Praveen_Dixit"> Praveen Dixit </a> |
            <a href="https://flavido.com/inst/Dr._Ravi_Agrahari"> Dr. Ravi Agrahari </a> |
            <a href="https://flavido.com/inst/Mrs_Sosin_(La_Excellence)"> Mrs Sosin  </a> |
            <a href="https://flavido.com/inst/Alok_Dubey"> Alok Dubey  </a> |
            <a href="https://flavido.com/inst/M.K_Yadav"> M.K Yadav  </a> |
            <a href="https://flavido.com/inst/Sikandar_Khan_(GS_Mentors)"> Sikandar Khan  </a> |
            <a href="https://flavido.com/inst/Tarique_Khan_(GS_Mentors)"> Tarique Khan </a> |
            <a href="https://flavido.com/inst/Shamim_Anwar">  Shamim Anwar </a> |
            <a href="https://flavido.com/inst/Zulfiquar_Mohammad_(GS_Mentors)"> Zulfiquar Mohammad </a> |
            <a href="https://flavido.com/inst/Vamsi_Krishna"> Vamsi Krishna  </a> |
          </p>
          <h5 class="f_head">Optional Notes:</h5>
          <p class="linkPara">
            <a target="_blank" href="https://flavido.com/store/tag/Philosophy/">Philosophy </a> |
            <a target="_blank" href="https://flavido.com/store/tag/Geography/">Geography </a> |
            <a target="_blank" href="https://flavido.com/store/tag/public-administration/">Public Administration </a>|
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/agricultural-optional-notes/">Agriculture Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/anthropology-optional-notes/">Anthropology Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/commerce-optional/">Commerce Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/economics-optional/"> Economics Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/geography-optional/"> Geography Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/geology-optional-notes/">Geology Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/history-optional-notes/">History Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/law-optional-notes/">Law Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/literature-optionals/">Literature Optional </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/management-optional/">Management Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/mathematics-optional/">Mathematics Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/medical-science/"> Medical Science Optional </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/philosophy-optional/">Philosophy Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/physcology-optional/">Psychology Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/physics-optional-notes/"> Physics Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/political-science-optional-notes/">Political Science Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/public-administration-upsc-notes/">Public Administration Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/sociology-optional-notes/">Sociology Optional Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/zoology-optional/">Zoology Optional Notes </a> |
          </p>
          <h5 class="f_head">IAS Online Courses For Prelims:</h5>
          <p class="linkPara">
            <a href="https://flavido.com/course/Economy_Foundation_2017">Economy Foundation 2017 </a> |
            <a href="https://flavido.com/course/History_Foundation_2017">History Foundation 2017  </a> |
            <a href="https://flavido.com/course/Environment_Module_2017">Environment Module 2017</a>|
            <a href="https://flavido.com/course/Economy_Module_2017_">Economy Module 2017 </a> |
            <a href="https://flavido.com/course/Current_Affairs_Prelims_2017">Current Affairs Prelims 2017</a> |
            <a href="https://flavido.com/course/Economy_Foundation_–_Hindi_Medium">Economy Foundation – Hindi Medium</a> |
            <a href="https://flavido.com/course/Pre-cum-Mains_2018-_Foundation_By_GS_Mentors"> Pre-cum-Mains 2018- Foundation By GS Mentors</a> |
            <a href="https://flavido.com/course/General_Science_&_Technology,_Environment_&Ecology"> General Science & Technology, Environment & Ecology</a> |
            <a href="https://flavido.com/courses/category/4/Upcoming%20courses"> Upcoming-courses</a> |
          </p>
          <h5 class="f_head">IAS Online Courses for Mains:</h5>
          <p class="linkPara">
            <a href="https://flavido.com/course/Essay_Classroom_Program">Essay Classroom Program </a> |
            <a href="https://flavido.com/course/Current_Affairs_Fastrack_2017">Current Affairs Fastrack 2017 </a> |
            <a href="https://flavido.com/course/GS_Paper_IV_-_100_Case_Study">GS Paper IV - 100 Case Study</a> |
            <a href="https://flavido.com/course/GS_Paper_1_History_Art_&_Culture">GS Paper 1 History Art & Culture </a> |
            <a href="https://flavido.com/course/Economy_Foundation_2017">Economy Foundation 2017</a> |
            <a href="https://flavido.com/course/GS_Mains_Test_Series_2017">GS Mains Test Series 2017</a> |
            <a href="https://flavido.com/course/QUALITY_ENRICHMENT_PROG_(QEP)"> QUALITY ENRICHMENT PROG (QEP)</a> |
            <a href="https://flavido.com/course/Public_Administration_Test_series"> Public Administration Test series</a> |
            <a href="https://flavido.com/course/Anthropology_Test_Series"> Anthropology Test Series</a> |
            <a href="https://flavido.com/course/Public_Administration_Optional"> Public Administration Optional </a> |
            <a href="https://flavido.com/course/Medical_Science_Test_Series_By_Dr._Rambabu_&_Dr._P"> Medical Science Test Series By Dr. Rambabu & Dr.P</a> |
            <a href="https://flavido.com/course/Pre-cum-Mains_2018-_Foundation_By_GS_Mentors"> Pre-cum-Mains 2018- Foundation By GS Mentors</a> |
            <a href="https://flavido.com/course/Sociology_Optional_Test_Series_2017-_18"> Sociology Optional Test Series 2017- 18</a> |
            <a href="https://flavido.com/course/Chokkalingam_Mains_2017_–_Foundation_Course"> Chokkalingam Mains 2017 – Foundation Course</a> |
            <a href="https://flavido.com/course/Chokkalingam_Essay_Test_Series_2017"> Chokkalingam Essay Test Series 2017 </a> |
            <a href="https://flavido.com/course/Chokkalingam_Ethics_Mains_2017"> Chokkalingam Ethics Mains 2017</a> |
            <a href="https://flavido.com/course/Essay_Test_Series_Learning_Course_2017"> Essay Test Series Learning Course 2017</a> |
            <a href="https://flavido.com/courses/category/4/Upcoming%20courses"> Upcoming-courses</a> |
          </p>
          <h5 class="f_head">IAS Online Courses for Optional:</h5>
          <p class="linkPara">
            <a href="https://flavido.com/course/Geography_Optional_%22Basic_to_Advance%22">Geography Optional "Basic to Advance" </a> |
            <a href="https://flavido.com/course/Geography_Optional_Test_Series_2017">Geography Optional Test Series 2017  </a> |
            <a href="https://flavido.com/course/History_Optional_(150+_Questions_&_150+_Sites)">History Optional (150+ Questions & 150+ Sites)</a>|
            <a href="https://flavido.com/course/Economy_Module_2017_">Geography Optional By Guidance IAS 2017 </a> |
            <a href="https://flavido.com/course/Geography_Optional_By_Guidance_IAS_2017"> Geography Optional Paper 1 By Guidance IAS 2017 </a> |
            <a href="https://flavido.com/course/Sociology_Optional_2017-_18">Sociology Optional 2017- 18</a> |
            <a href="https://flavido.com/course/Geography_Optional_Human_Geography_By_Guidance_IAS"> Geography Optional-Human Geography By Guidance IAS</a> |
            <a href="https://flavido.com/courses/category/4/Upcoming%20courses"> Upcoming-courses</a> |
          </p>
          <h5 class="f_head">Pendrive / SD Card Courses:</h5>
          <p class="linkPara">
            <a target="_blank" href="https://flavido.com/store/category/pendrive-programs/history-pendrive/">History & Art And Culture </a> |
            <a target="_blank" href="https://flavido.com/store/category/pendrive-programs/economy-pendrive/">Economy</a> |
            <a target="_blank" href="https://flavido.com/store/product/gs-mentors-foundation-program/">GS MENTORS – Foundation Program</a>|
            <a target="_blank" href="https://flavido.com/store/category/pendrive-programs/environment-pendrive/">Environment & Ecology </a> |
            <a target="_blank" href="https://flavido.com/store/category/pendrive-programs/ethics-pendrive/"> Ethics </a> |
            <a target="_blank" href="https://flavido.com/store/category/pendrive-programs/science-tech-pendrive/">General Science & Techology </a> |
            <a target="_blank" href="https://flavido.com/store/category/pendrive-programs/polity-governance-pendrive/"> Polity & Governance</a> |
            <a target="_blank" href="https://flavido.com/store/category/pendrive-programs/society-pendrive/"> Indian Society & Social Justice </a> |
            <a target="_blank" href="https://flavido.com/store/category/pendrive-programs/internal-security-pendrive/"> Internal Security</a> |
            <a target="_blank" href="https://flavido.com/store/category/pendrive-programs/geography-optional-pendrive/"> Geography Optional </a> |
            <a target="_blank" href="https://flavido.com/store/category/pendrive-programs/international-relations-pendrive/"> International Relations</a> |
            <a target="_blank" href="https://flavido.com/store/category/pendrive-programs/sociology-optional-pendrive/"> Sociology Optional</a> |
          </p>
          <h5 class="f_head">IAS GS NOTES :</h5>
          <p class="linkPara">
            <a target="_blank" href="https://flavido.com/store/category/upsc-gs-notes/economy-gs-notes/">Indian Economy </a>
            <a target="_blank" href="https://flavido.com/store/category/upsc-gs-notes/polity-gs-notes/">Indian Polity</a>|
            <a target="_blank" href="https://flavido.com/store/category/old-ncerts/">Old NCERTs </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-gs-notes/geography-upsc-gs-notes/">GS Geography </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-gs-notes/history-gs-notes/"> History </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-gs-notes/art-culture/">Art & Culture </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-gs-notes/gs-environment/">Environment </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-gs-notes/ethics-notes/">Ethics Integrity & Aptitude  </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-gs-notes/science-gs-notes/">Science & Tech </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-gs-notes/internal-security/"> Internal Security </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-gs-notes/international-relations/">International Relations  </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-gs-notes/world-history/">World History </a> |
            <a target="_blank" href="https://flavido.com/store/category/upsc-gs-notes/social-issues/">Social Issues </a> |
            <a target="_blank" href="https://flavido.com/store/tag/disaster-management/">Disaster Management </a> |
          </p>
          <h5 class="f_head">SSC CGL/Bank PO Notes:</h5>
          <p class="linkPara">
            <a target="_blank" href="https://flavido.com/store/category/ssc/ssc-gs-notes/"> SSC GS Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/ssc/ssc-english/"> SSC English Notes </a> |
            <a target="_blank" href="https://flavido.com/store/category/ssc/ssc-maths-notes/"> SSC Maths Notes</a>|
            <a target="_blank" href="https://flavido.com/store/category/ssc/ssc-reasoning-notes/">SSC Reasoning Notes </a> |
          </p>
          <h5 class="f_head">Engineering Service Examination (IES)/GATE Notes:</h5>
          <p class="linkPara">
            <a target="_blank" href="https://flavido.com/store/category/ies-gate-psu/computer-engineering/"> Computer Engineering </a> |
            <a target="_blank" href="https://flavido.com/store/category/ies-gate-psu/civil-engineering/"> Civil Engineering </a> |
            <a target="_blank" href="https://flavido.com/store/category/ies-gate-psu/electrical-engineering/"> Electrical Engineering</a>|
            <a target="_blank" href="https://flavido.com/store/category/ies-gate-psu/mechanical-engineering/">Mechanical Engineering </a>
            <a target="_blank" href="https://flavido.com/store/category/ies-gate-psu/ies-etm/"> Electronics & Communication Engineering</a> |
            <a target="_blank" href="https://flavido.com/courses/category/4/Upcoming%20courses">Upcoming-courses </a>|
          </p>
          <h5 class="f_head">Hindi Notes:</h5>
          <p class="linkPara">
            <a target="_blank" href="https://flavido.com/store/?s=vision+ias+hindi&post_type=product">Vision IAS </a> |
            <a target="_blank" href="https://flavido.com/store/product/nirman-ias-gs-prelims-indian-polity-hindi-medium-handwritten-class-notes/">Indian Polity </a> |
            <a target="_blank" href="https://flavido.com/store/?s=hindi+ethics&post_type=product">Ethics </a>|
            <a target="_blank" href="https://flavido.com/store/?post_type=product&s=old+ncert+in+hindi">Old NCERT </a>|
            <a target="_blank" href="https://flavido.com/store/product/public-administration-uniyal-optional-handwritten-class-notes-hindi/">Public Administration </a>|
            <a target="_blank" href="https://flavido.com/store/product/philosophy-optional-handwritten-class-noteshindi/">Sociology </a>|
            <a target="_blank" href="https://flavido.com/store/category/upsc-optional-notes/philosophy-optional/">Philosophy </a>|
          </p>
          <h5 class="f_head">Popular Coaching Notes:</h5>
          <p class="linkPara">
            <a target="_blank" href="https://flavido.com/store/vajiram/">Vajiram </a> |
            <a target="_blank" href="https://flavido.com/store/?s=sriram+ias&post_type=product">Sriram </a> |
            <a target="_blank" href="https://flavido.com/store/?s=vision+ias&post_type=product">Vision IAS </a>|
            <a target="_blank" href="https://flavido.com/store/category/old-ncerts/">Old NCERT </a>|
            <a target="_blank" href="https://flavido.com/store/category/institute/insights-on-india/">Insights </a>|
            <a target="_blank" href="https://flavido.com/store/category/institute/drishti-ias/">Drishti </a>|
          </p>
          <h5 class="f_head">Partner Institutes:</h5>
          <p class="linkPara">
            <a href="https://flavido.com/inst/Ravi_R_Chokkalingam_(Rising_IAS)">Rising IAS </a> |
            <a target="_blank" href="https://flavido.com/store/category/institute/triump-ias/">Triumph IAS </a> |
            <a target="_blank" href="https://flavido.com/store/category/institute/gs-mentors/">GS Mentors</a>|
            <a target="_blank" href="https://flavido.com/store/category/institute/forumias/">ForumIAS</a> |
            <a href="https://flavido.com/inst/Mrs_Sosin_(La_Excellence)">La Excellence</a> |
            <a href="https://flavido.com/inst/Himanshu_Sharma_(Guidance_IAS)">Guidance IAS</a> |
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 footerParagraph">
          <dl>
            <dd class="ParaF">
              Gone are the days, when you had to go to pricey & exhaustive coaching classes to prepare for IAS examination. Today, with everything going digital, everything you need is right at the comfort of your home. If you are doing your graduation or are currently working, it is difficult to find the time and right resources for preparation. What do you do? @Flavido we source top rated study material, hand written notes from successful aspirants & live/online classes from most recommended faculties & educational institutions, and provide them at affordable price.Why Online IAS preparation?
            </dd>
            <dd>
              Most of the aspirants feel there is a need to leave their present jobs & home cities and move to Rajinder Nagar/Karol Bagh for IAS Preparation. Students don’t estimate the high opportunity cost of leaving a job or the level of expenses in these overpriced areas of Central Delhi. A student only needs right guidance, resources and peer group to clear the examination. Right Guidance and peer group is available online on forums and multiple preparation websites. Resources for preparation like notes, online classes, mentors and recommended faculties is where we are trying to pitch in and ease out your IAS Preparation.
            </dd>
            <dt>Flavido Promises</dt>
            <dd>Flavido makes online education more convenient and hassle-free. You can always be rest assured about the quality of IAS notes you are buying online at our site. Together with our trusted printing vendors we promise to deliver the appropriate IAS books or online IAS notes from Delhi. We have the best quality IAS online courses that can be subscribed from the comfort of your home. These courses are being done by the most recommended IAS trainers in their respective fields. These online IAS classes are checked thoroughly for their content, quality and timely delivery.</dd>
            <dt>Features of Online Classes, Flexible Schedule</dt>
            <dd>Classes on Flavido can be watched by students as per their own flexible schedule. Usually the offline classes are on a pre-defined time and if you miss the class you can only rely on someone else’s notes. This will not be the case with online classes as the student can study as per their comfort and timetable. This is really important as IAS preparation needs a disciplined approach with lot of self study.</dd>
            <dt>Revise the Classes</dt>
            <dd>This option is not available in offline format; in online mode students can watch the classes again for revision. Revision helps in strengthening the concepts.</dd>
            <dt>Access to Resources only available in Delhi</dt>
            <dd>Sometimes you have made up your mind of studying under a specific teacher/trainer who teaches only in Delhi. This leaves you no option but to migrate to Delhi for IAS Preparation. We bring those offline classes online for you. Doubts can be discussed during office hours telephonically. We provide access to teachers on our platform to the students enrolled.</dd>
            <dt>Shop on the App</dt>
            <dd>So there might be times when you don’t feel like booting up your laptop in your free time. We have a great idea, listen to your playlist, relax and also shop for much needed IAS preparation notes, IAS Study material and watch classes by specific teacher on-the-go on our mobile app.</dd>
            <dt>So, which course are you opting for today?</dt>
          </dl>
        </div>
      </div>
      <div class="col-md-12 text-center companyFooter">
        <p class="footerText">Copyright ©2016 Flavido Store. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
<div class="bottom-navigation-short" ng-if="vm.studentInfo && vm.studentInfo.userId">
  <div class="container clearfix">
    <div class="navbar--title">
      <a class="clearfix no-link-style" href="javascript:void(0)">
        <div class="logo"></div>
      </a>
    </div>
    <ul class="inline clearfix hidden-xs">
      <li><a ui-sref="contactUs">Contact Us</a></li>
      <li><a ui-sref="terms-conditions">Terms & Conditions</a></li>
      <li><a ui-sref="privacyPolicy">Privacy Policy</a></li>
      <li><a ui-sref="aboutUs">About</a></li>
    </ul>
    <div class="social-icons clearfix">
      <a target="_blank" href="https://twitter.com/flavidostore"><i class="fa fa-twitter"></i></a>
      <a target="_blank" href="https://www.facebook.com/flavidostore/"><i class="fa fa-facebook"></i></a>
      <a target="_blank" href="https://www.linkedin.com/company/flavido"><i class="fa fa-linkedin"></i></a>
      <a target="_blank" href="https://www.youtube.com/channel/UC0Tq0EYN41l4puo0qSl1lEg/videos"><i class="fa fa-youtube"></i></a>
    </div>
  </div>
</div>
