<div ng-cloak>
    <section class="courses__topics">
        <div class="container">
            <h2 class="courses__title">Browse by Categories</h2>
            <div class="courses__topics-list">
                <a href="javascript:void(0);" class="topic-block js-topic-block" ng-repeat="category in vm.categories" ng-click="vm.searchCoursesByCategory(category.id)">
                    <div class="topic-block-icon topic--programming" ng-style="{ 'background-color': category.bgColor }">
                        <h5 class="topic-block-title" ng-bind="category.name"></h5>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="courses__start">
        <div class="container">
            <h1 class="courses__title mt0">Starting your preparations here</h1>
            <div class="row">
                <div class="col-lg-4 col-sm-6" ng-repeat="course in vm.allCourses | limitTo: 3">
                    <a class="no-link-style no-link-color" href="javascript:void(0);" ng-click="vm.showCourseDetails(course)">
                        <div class="course-block" ng-class="{'course-block--r' : $even, 'course-block--g' : $odd}">
                            <div>
                                <!-- Don't remove these. Needed for flexbox -->
                                <h4 class="course-block__title" ng-bind="course.title"></h4>
                                <p class="course-block__description" ng-bind="course.shortDesc"></p>
                                <p class="course-block__description">
                                    <review-stars rating="course.reviewCourse" stars='5'></review-stars> (<span ng-bind="course.reviewCourse || 0"></span> Reviews)
                            </div>
                            <div class="course-block__author">
                                <div class="course-block__author-image">
                                    <img class="image-rounded" width="70" height="70" src="{{course.instructorImage || '/assets/images/avatar.png'}}">
                                </div>
                                <div class="course-block__author-description">
                                    <h5 ng-bind="course.instructorFullName"></h5>
                                    <p ng-bind="course.instructorDesignation"></p>
                                </div>
                            </div>
                            <div class="course-block__footer">
                                <span>
                                    <i class="fa fa-clock-o" aria-hidden="true" ng-attr-title="{{course.duration}} {{course.durationParameter}}"></i> 
                                    <span ng-bind="course.duration"></span><span ng-bind="course.durationParameter"></span>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="courses__explore-see-more text-center" ng-if="vm.allCourses.length > 3">
                <a class="btn btn-secondary" href="javascript:void(0);" ng-click="vm.showAllCourses();">See all <span ng-bind="vm.allCourses.length"></span> courses</a>
            </div>
        </div>
    </section>
</div>
