<div ng-cloak class="homeMain">
    <div class="home-top-bg" ng-disable-scroll='!vm.isCollapsed'>
        <header class="home-header">
            <nav class="navbar navbar-custom navbar-fixed-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" ng-click="vm.isCollapsed = !vm.isCollapsed" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand logo" href="javascript:script(0);"></a>
                            </div>
                            <div class="navbar-collapse collapse in" uib-collapse="vm.isCollapsed" aria-expanded="false">
                                <ul class="nav navbar-nav navbar-right nav-margin">
                                    <li class="" ng-click="vm.isCollapsed = (!vm.isCollapsed) ? !vm.isCollapsed : vm.isCollapsed">
                                        <a href="javascript:script(0);" class="text-uppercase">Features</a>
                                    </li>
                                    <li class="" ng-click="vm.isCollapsed = (!vm.isCollapsed) ? !vm.isCollapsed : vm.isCollapsed">
                                        <a href="javascript:script(0);" class="text-uppercase">Documentation</a>
                                    </li>
                                    <li class="" ng-click="vm.isCollapsed = (!vm.isCollapsed) ? !vm.isCollapsed : vm.isCollapsed">
                                        <a href="javascript:void(0);" class="text-uppercase">Pricing</a>
                                    </li>
                                    <li class="" ng-click="vm.isCollapsed = (!vm.isCollapsed) ? !vm.isCollapsed : vm.isCollapsed">
                                        <a href="javascript:void(0);" class="text-uppercase">International Merchant</a>
                                    </li>
                                    <li class="" ng-click="vm.isCollapsed = (!vm.isCollapsed) ? !vm.isCollapsed : vm.isCollapsed">
                                        <a href="javascript:void(0);" class="text-uppercase">Contact</a>
                                    </li>
                                    <li class="" ng-click="vm.isCollapsed = (!vm.isCollapsed) ? !vm.isCollapsed : vm.isCollapsed">
                                        <a href="javascript:void(0);" class="text-uppercase">UPI</a>
                                    </li>
                                    <li ui-sref="login" ng-click="vm.isCollapsed = (!vm.isCollapsed) ? !vm.isCollapsed : vm.isCollapsed">
                                        <a href="javascript:void(0);" class="text-uppercase" class="sign-in">Sign In</a>
                                    </li>
                                    <li class="sep-content text-center"><span class="sep"></span></li>
                                    <li ui-sref="register" class=" diff_link" ng-click="vm.isCollapsed = (!vm.isCollapsed) ? !vm.isCollapsed : vm.isCollapsed">
                                        <a href="javascript:void(0);" class="text-uppercase">Sign Up</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="clearfix"></div>
        <div class="home-top-cont mob-home-top-cont">
            <div class="container">
                <div class="row">
                    <div class="ui-widget col-md-10 col-md-offset-1 text-center relative">
                        <input type="text" name="search_faq" id="search_faq" value="" placeholder="How can we help you? Search for a topic..." class="ui-autocomplete-input" autocomplete="off">
                        <div id="search_icon" style="background-position: 0% 0%;">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="center-element text-center">
                <div class="plain-color font-largest line-h2 mob-title-big">
                    <span class="weight-light">Learn Anything, On Your Schedule</span>
                    <div id="js-rotating" class="font-big-mid-large midtext mob-mid-title">Build to deliver an awesome customer experience</div>
                </div>
                <div class="clear-fix"></div>
                <div class="min-head-buttons text-uppercase">
                    <a class="btn-hollow box-shadow mob-btn weight-semibold text-uppercase" href="javascript:script(0);">Start Accepting Payments</a>
                </div>
                <div class="text-center subtext plain-color line-h5 weight-light font-normal">PayUbiz enables businesses to accept and manage payments online</div>
            </div>
            <!--    <div class="video-url text-center small-screen-only"> -->
            <!--      <a class="plain-color weight-bold font-mid" href="https://youtu.be/GJ4B-R7gW60">Watch Video</a> -->
            <!--    </div>     -->
        </div>
    </div>
    <!-- <div class="container relative home-absolute">
  <div class="row">
    <div class="col-md-12">
      <div class="home-video-container">
        <div id="vid">
        <iframe id="player" type="text/html" src="" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="home-video" class="hide-when-playing"></div>
        <div class="play-video-container hide-when-playing" id="ClickToShow">
          <div class="play-video"></div>      
          <div class="watch-video font-mid text-dark">Watch video to learn how</div>
        </div>
      </div>
    </div>
  </div>
</div> -->
    <div class="container home-blocks">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="font-large mob-title text-darkest">“We breathe technology”</div>
                <div class="home-mid-subtext mob-mid-title">
                    We constantly solve very hard behind the scenes product and operational problems so that our users
                    <br>can continue to focus on building great products
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 home-block-col">
                <div class="cont">
                    <div class="home-icons high-success"></div>
                    <div class="text-darkest weight-semibold font-mid">Best Conversion Rates</div>
                    <p>Dynamic switching, intelligent retry, mobile browser and many more cutting edge features to increase your conversion rates by over 12%</p>
                </div>
            </div>
            <div class="col-md-4 home-block-col">
                <div class="cont">
                    <div class="home-icons mob-pay"></div>
                    <div class="text-darkest weight-semibold font-mid">World of Payment Options</div>
                    <p>Accept all payment modes including 45+ Net-banking, 8+ bank EMI's, 6 Wallets, Amex, Rupay, International Cards and more.</p>
                </div>
            </div>
            <div class="col-md-4 home-block-col">
                <div class="cont">
                    <div class="home-icons reliable-support"></div>
                    <div class="text-darkest weight-semibold font-mid">Intuitive Integration</div>
                    <p>Whether you build an app, a marketplace or an online store; PayuBiz’ API’s &amp; SDK facilitate smooth and easy integration.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center view-features">
                <a class="btn-fill text-uppercase" href="https://www.payubiz.in/features">View all features</a>
            </div>
        </div>
    </div>
    <section class="gray-bg">
        <div class="container home-one-tap">
            <div class="row">
                <div class="col-md-12 font-large text-center mob-title">
                    <div class="text-darkest">Introducing <span class="brand-color">OneTap&trade;</span> Payment</div>
                    <br>
                    <div class="font-normal"><span class="text-dark">The inevitable future </span>– Payments the way it should be</div>
                </div>
            </div>
            <div class="row home-inner">
                <div class="col-md-3 col-md-offset-1">
                    <div class="home-inner-block">
                        <div class="inner-title text-darkest weight-semibold font-mid">
                            <span class="fa fa-credit-card brand-color"></span>Store Card Vault
                        </div>
                        <div class="inner-content">
                            White labelled vault to store your customer’s card data. Your customers, your data. Simple APIs.
                        </div>
                    </div>
                    <div class="home-inner-block">
                        <div class="inner-title font-mid weight-semibold text-darkest cvv-less-transaction no-wrap">
                            <span class="fa fa-clock-o brand-color"></span>CVV-Less Transaction
                        </div>
                        <div class="inner-content">
                            A major technological breakthrough allowing repeat users to never input their CVV again.
                        </div>
                    </div>
                    <div class="home-inner-block">
                        <div class="inner-title font-mid weight-semibold text-darkest pci-dss-compliant">
                            <span class="fa fa-lock brand-color"></span>PCI-DSS Compliant
                        </div>
                        <div class="inner-content">
                            Completely PCI DSS compliant solution. No need to worry about security!
                        </div>
                    </div>
                </div>
                <div class="col-md-4 big-screen-only">
                    <iframe id="FrameAnimation" src="" width="263" height="500" frameborder="0" style="display:none;"></iframe>
                    <div class="one-tap-placeholder" data-iframe-url="https://www.payubiz.in/otpanimation" data-target="#FrameAnimation"></div>
                </div>
                <div class="col-md-3">
                    <div class="home-inner-block">
                        <div class="inner-title font-mid weight-semibold text-darkest">
                            <span class="fa fa fa-mobile brand-color" style="font-size: 65px;"></span>Custom Mobile Browser
                        </div>
                        <div class="inner-content">
                            Responsible for Auto OTP generation by selecting the OTP option on all leading bank pages.
                        </div>
                    </div>
                    <div class="home-inner-block">
                        <div class="inner-title font-mid weight-semibold text-darkest cvv-less-transaction no-wrap">
                            <span class="fa fa-key brand-color"></span>Auto OTP read
                        </div>
                        <div class="inner-content">
                            We read and submit OTP on behalf of the user, no need to fiddle between apps.
                        </div>
                    </div>
                    <div class="home-inner-block">
                        <div class="inner-title font-mid weight-semibold text-darkest pci-dss-compliant">
                            <span class="fa fa-magic brand-color"></span>Magic Retry
                        </div>
                        <div class="inner-content">
                            A simple retry button preventing all drops related to network issues.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container home-merchant-list">
        <div class="row">
            <div class="col-md-12 merchant-text">
                <div class="font-large mob-title text-center text-darkest">You would have seen us here already</div>
                <div class="font-normal text-center text-dark subtext">More than 80 of the top 100 E-commerce companies in India prefer to use PayUbiz for their payments.</div>
            </div>
        </div>
        <ul class="brand_list">
            <li class="brand_snapdeal"></li>
            <li class="brand_jabong"></li>
            <li class="brand_ola"></li>
            <li class="brand_bookmyshow"></li>
            <li class="brand_goibibo"></li>
            <li class="brand_redbus"></li>
            <li class="brand_myntra"></li>
            <li class="brand_foodpanda"></li>
            <li class="brand_groupon"></li>
            <li class="brand_pepperfry"></li>
            <li class="brand_grofers"></li>
            <li class="brand_urbanladder"></li>
        </ul>
    </div>
    <section class="gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row sign-up-block">
                        <div class="col-md-12">
                            <h4 class="text-center text-darkest line-h font-30 mob-title">Your next jump in business starts here</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="text-center sign-up-form form">
                                <form class="bottom-sign-up" name="sign-up" method="POST" action="javascript:script(0);" novalidate>
                                    <input class="text-dark round-corners" type="email" data-name="email" name="registerS1[email]" placeholder="Your Email" required="true">
                                    <input type="hidden" name="signupType" value="1" />
                                    <input type="button" class="text-uppercase btn-sign-up plain-color round-corners btn-submit" value="Sign Up">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <script type="text/javascript"> 
    
     $(document).ready(function(){
         $('.loaded-solution').addClass('hidden');
         $('#js-rotating').removeClass('hidden');
     })
    
     $("#js-rotating").Morphext({
         animation: "rotateIn",
         speed: 4000,
         complete: function () {
            
         }
     });
 </script> -->
    <div class="clearfix"></div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="copyright">
                        <li>Copyright © Flavido</li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a target="_blank" href="#">Careers</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
