<div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="general">
            <h3>Student Information</h3>
            <hr>
            <form class="edit_student" id="edit_student" method="post">
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>User name</label>
                                <input ng-model="vm.student.userName">
                            </md-input-container>
                        </fieldset>
                        <fieldset>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Email</label>
                                <input ng-model="vm.student.email" type="email" ng-change="vm.student.sendEmail = vm.student.email ? vm.student.sendEmail : 0">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-disabled="!vm.student.email" ng-model="vm.student.sendEmail" class="md-primary" ng-true-value='1' ng-false-value='0'>
                                    Send login info Mail to student
                                </md-checkbox>
                            </md-input-container>
                        </fieldset>
                        <fieldset>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Mobile</label>
                                <input ng-model="vm.student.mobile" type="number" ng-change="vm.student.isPhoneverify = vm.student.mobile ? vm.student.isPhoneverify : 0">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-disabled="!vm.student.mobile" ng-model="vm.student.isPhoneverify" class="md-primary" ng-true-value='1' ng-false-value='0'>
                                    Is verified contact number
                                </md-checkbox>
                            </md-input-container>
                        </fieldset>
                        <fieldset>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Password</label>
                                <input ng-model="vm.student.password" type="password">
                            </md-input-container>
                        </fieldset>
                        <fieldset>
                            <md-switch class="md-primary" name="status" id="status" ng-model="vm.student.status" aria-label="User Status" ng-true-value="1" ng-false-value="0">
                                Status
                            </md-switch>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="submit" name="commit" value="Save Changes" class="btn btn-primary m0" ng-click="vm.createStudent()" data-disable-with="Save Changes" ng-if="!vm.student.id">
                        <input type="submit" name="commit" value="Save Changes" class="btn btn-primary m0" ng-click="vm.updateStudent()" data-disable-with="Save Changes" ng-if="vm.student.id">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
