<div class="groups__courses">
    <h4 class="gr-subtitle">Courses
        <a style="margin:0px;padding:6px 12px;" class="btn btn-default btn-sm pull-right" href="javascript:void(0);" ui-sref="admin.lms.editCourse" ng-click="vm.course = {freeCourse: 0, addUnits: []};">
        <i class="fa fa-plus-square"></i> Add New
    </a>
    </h4>
    <ul class="tabs nav-tabs with-background clearfix">
        <li ng-click="vm.categoryListTab = 1;" ng-class="{'active' : vm.categoryListTab == 1 }">
            <a href="javascript:void(0);">Active Courses (<span ng-bind="vm.activeCourses.length || 0"></span>)</a>
        </li>
        <li ng-click="vm.categoryListTab = 2;" ng-class="{'active' : vm.categoryListTab == 2 }">
            <a href="javascript:void(0);">Inactive Courses (<span ng-bind="vm.inactiveCourses.length || 0"></span>)</a>
        </li>
    </ul>
    <div class="groups__courses-overview groups__border" ng-if="vm.categoryListTab == 1">
        <div class="groups__courses-filters clearfix">
            <div class="select select--small">
                <select ng-options="category.id as category.name for category in vm.activeCourseCategories" ng-model="vm.activeSelectedCategory" ng-change="vm.searchActiveCourses()">
                    <option value="">All Categories</option>
                </select>
            </div>
            <div class="select select--small">
                <select ng-options="instructor.id as instructor.fullName for instructor in vm.allInstructors" ng-model="vm.activeSelectedInstructor" ng-change="vm.searchActiveCourses()">
                    <option value="">All Instructor</option>
                </select>
            </div>
            <div class="search">
                <i class="fa fa-search search-icon" aria-hidden="true"></i>
                <input type="text" name="search" placeholder="Search" ng-model="vm.activeCourseSearchText" ng-keydown="($event.keyCode === 13 || vm.activeCourseSearchText == '') && vm.searchActiveCourses()">
            </div>
        </div>
        <p id="emptyCoursesMessage" class="text-center" ng-if="(vm.activeCourses.length == 0 && (vm.activeSelectedCategory || vm.activeCourseSearchText))">
            <i>Seems like we don't have any courses for this. <a id="resetCoursesFilter" href="javascript:void(0);">Reset</a> your search.</i>
        </p>
        <section class="groups__courses-course js-course" data-skill="" data-title="{{course.title}}" ng-repeat="course in vm.activeCourses">
            <div class="row course-block">
                <div class="col-md-2">
                    <img src="{{course.image}}" alt="{{course.name}}" />
                    <qr text="string"></qr>
                </div>
                <div class="col-md-10">
                    <h4>
                        <span ng-bind="course.title" ng-click="vm.editCourse(course)"></span> <span class="label label-accent pull-right" ng-click="vm.editCourse(course)">Edit</span>
                    </h4>
                    <h5>
                        By <span ng-bind="course.instructorFullName"></span>
                    </h5>
                    <div>
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <span ng-if="course.courseFee" ng-bind="course.courseFee | INR"></span>
                        <span ng-if="!course.courseFee" ng-bind="'Free'"></span> |
                        <i class="fa fa-clock-o" aria-hidden="true"></i> <span ng-bind="course.duration"></span> <span ng-bind="course.durationParameter"></span> |
                        <i class="fa fa-calendar" aria-hidden="true"></i> <span ng-bind="course.courseStartDate"></span>
                    </div>
                    <p ng-bind="course.shortDescription"></p>
                    <hr>
                    <a href="javascript:void(0);" ng-click="vm.getCourseStudents(course)">Show Students</a> | <a href="javascript:void(0);">Show Units</a>
                    <a class="btn btn-primary btn-small m0 pull-right js-open-assignment-dialog" href="javascript:void(0)" ng-click="vm.addReview($event, course)">
                        Add review
                    </a>
                </div>
            </div>
        </section>
    </div>
    <div class="groups__courses-overview groups__border" ng-if="vm.categoryListTab == 2">
        <div class="groups__courses-filters clearfix">
            <div class="select select--small">
                <select ng-options="category.id as category.name for category in vm.activeCourseCategories" ng-model="vm.inactiveSelectedCategory" ng-change="vm.searchInactiveCourses()">
                    <option value="">All Categories</option>
                </select>
            </div>
            <div class="select select--small">
                <select ng-options="instructor.id as instructor.fullName for instructor in vm.allInstructors" ng-model="vm.inactiveSelectedInstructor" ng-change="vm.searchInactiveCourses()">
                    <option value="">All Instructor</option>
                </select>
            </div>
            <div class="search">
                <i class="fa fa-search search-icon" aria-hidden="true"></i>
                <input type="text" name="search" placeholder="Search" ng-model="vm.inactiveCourseSearchText" ng-keyup="($event.keyCode === 13 || vm.inactiveCourseSearchText == '') && vm.searchInactiveCourses()">
            </div>
        </div>
        <p id="emptyCoursesMessage" class="text-center" ng-if="(vm.inactiveCourses.length == 0 && (vm.inactiveSelectedCategory || vm.inactiveCourseSearchText))">
            <i>Seems like we don't have any courses for this. <a id="resetCoursesFilter" href="javascript:void(0);">Reset</a> your search.</i>
        </p>
        <section class="groups__courses-course js-course" data-skill="" data-title="{{course.title}}" ng-repeat="course in vm.inactiveCourses">
            <div class="row course-block">
                <div class="col-md-2">
                    <img src="{{course.image}}" alt="{{course.name}}">
                </div>
                <div class="col-md-10">
                    <h4><span ng-bind="course.title"></span> <span class="label label-accent pull-right" ng-click="vm.editCourse(course)">Edit</span></h4>
                    <div>
                        <i class="fa fa-credit-card" aria-hidden="true"></i> <i class="fa fa-inr" aria-hidden="true" ng-if="course.courseFee"></i> <span ng-bind="course.courseFee || 'Free'"></span> |
                        <i class="fa fa-clock-o" aria-hidden="true"></i> <span ng-bind="course.duration"></span> <span ng-bind="course.durationParameterText"></span> |
                        <i class="fa fa-calendar" aria-hidden="true"></i> <span ng-bind="course.courseStartDate"></span>
                    </div>
                    <p ng-bind="course.shortDescription"></p>
                    <hr>
                    <a href="javascript:void(0);">Show Students</a> | <a href="javascript:void(0);">Show Units</a>
                    <a class="btn btn-primary btn-small m0 pull-right js-open-assignment-dialog" href="javascript:void(0)">Add unit</a>
                </div>
            </div>
        </section>
    </div>
</div>
