<div class="groups__courses">
  <h4 class="gr-subtitle">
    Call Request
  </h4>
  <div class="groups__courses-overview groups__border">
    <p id="emptyCoursesMessage" class="text-center" ng-if="vm.callrequestsByCourse.length == 0">
      <i>Seems like we don't have any student call request for this course.</i>
    </p>
    <div class="table-responsive" ng-if="vm.callrequestsByCourse.length > 0">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>SN</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Request Date</th>
            <th>Course</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="request in vm.callrequestsByCourse">
            <td ng-bind="$index + 1"></td>
            <td ng-bind="request.name"></td>
            <td ng-bind="request.email"></td>
            <td ng-bind="request.phone"></td>
            <td ng-bind="request.requestDate"></td>
            <td ng-bind="request.courseName"></td>
            <td>
              <a style="border:none;" role="button" href="javascript:void(0);" ng-click="vm.addCommentToCall(request)">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
