<div ng-cloak>
  <section class="home__ads top">
    <div class="container groups__container">
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12 transction_div">
              <h3> Monthly orders </h3>
              <h4>Latest 6 months order</h4>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr ng-repeat="order in vm.monthlyOrders" class="text-center">
                      <td><strong ng-bind="order.monthName"></strong></td>
                      <td ng-bind="order.orderTotal | INR"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p>
                <button ui-sref="admin.orderList" type="button" class="btn btn-default">View All</button>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 middle_graph1">
              <h2 class="myCourse">Coupons</h2>
              <p class="current_course">
                <strong>Coupons count report</strong>
              </p>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr class="text-center">
                      <th class="text-center">Code</th>
                      <th class="text-center">Usages</th>
                      <th class="text-center">Discount</th>
                      <th class="text-center">Sales</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="coupon in vm.couponReport" class="text-center">
                      <td><strong ng-bind="coupon.code"></strong></td>
                      <td ng-bind="coupon.usageCount"></td>
                      <td ng-bind="coupon.totalDiscount || 0 | INR"></td>
                      <td ng-bind="coupon.totalSales || o | INR"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="row">
            <div class="col-sm-12 right_myAccount1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
