<md-dialog aria-label="Add Testmonials">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Testmonials</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <form class="edit_user">
                <div class="md-dialog-content row">
                    <div class="col-md-4">
                       <!--  <fieldset> -->
                            <label for="user_avatar">Avatar</label>
                            <div class="avatar-selector">
                                <img ngf-src="vm.instructorTestmonial.image || '/assets/images/avatar.png'" ngf-resize="{width: 150, height: 150, quality: 0.9}" style="border:1px solid lightseagreen; height:150px;" class="img-thumbnail" />
                                <br />
                                <button class="btn btn-primary center-block" ngf-select type="file" ng-model="vm.instructorTestmonial.image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">
                                    Change Photo
                                </button>
                            </div>
                        <!-- </fieldset> -->
                    </div>
                    <div class="col-md-8">
                        <fieldset>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Testmonials</label>
                                <textarea required="required" rows="5" ng-model="vm.instructorTestmonial.testimonial"></textarea>
                            </md-input-container>
                        </fieldset>
                        <fieldset>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Testmonial By</label>
                                <input ng-model="vm.instructorTestmonial.testimonials_by" required="required" />
                            </md-input-container>
                        </fieldset>
                        <fieldset>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Organization</label>
                                <input ng-model="vm.instructorTestmonial.by_organization" required="required" />
                            </md-input-container>
                        </fieldset>
                    </div>
                </div>
            </form>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="closeDialog()">
                Cancel
            </md-button>
            <md-button ng-click="addTestmonials(vm.instructorTestmonial.image)">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
