<div ng-cloak>
    <div class="container groups__container">
        <h2> LMS </h2>
        <hr>
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-3 col-sm-push-9">
                <div class="side-nav groups__sidebar">
                    <ul>
                        <li ng-class="{'active' : vm.lmsTab == 1}" ng-click="vm.lmsTab = 1;">
                            <a ui-sref="admin.lms.courses">Courses</a>
                        </li>
                        <li ng-class="{'active' : vm.lmsTab == 2}" ng-click="vm.lmsTab = 2;">
                            <a ui-sref="admin.lms.courseCategories">Categories</a>
                        </li>
                        <li ng-class="{'active' : vm.lmsTab == 3}" ng-click="vm.lmsTab = 3;">
                            <a ui-sref="admin.lms.units">All Units</a>
                        </li>
                        <li ng-class="{'active' : vm.lmsTab == 4}" ng-click="vm.getCourseCallrequests();">
                            <a href="/sitemanager/lms/callrequests">Callback Request</a>
                        </li>
                        <li ng-class="{'active' : vm.lmsTab == 5}" ng-click="vm.getCoursesReview();">
                            <a href="/sitemanager/lms/coursesReview">Courses Review</a>
                        </li>
                        <li ng-class="{'active' : vm.lmsTab == 6}" ng-click="vm.getLmsSettings();">
                            <a href="/sitemanager/lms/setting">Settings</a>
                        </li>
                        <li ng-class="{'active' : vm.lmsTab == 7}" ng-click="vm.getCoupons();">
                            <a href="/sitemanager/lms/coupons">Coupons</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 col-sm-pull-3 vertical-nav-border">
                <div ui-view >
                </div>
            </div>
        </div>
    </div>
</div>
