<div ng-cloak>
    <div class="container groups__container">
        <h2> LMS </h2>
        <hr>
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-3 col-sm-push-9">
                <div class="side-nav groups__sidebar">
                    <ul>
                        <li ng-class="{'active' : vm.lmsTab == 1}" ng-click="vm.lmsTab = 1;" ui-sref="admin.lms.courses">
                            <a href="javascript:void(0);">Courses</a>
                        </li>
                        <li ng-class="{'active' : vm.lmsTab == 2}" ng-click="vm.lmsTab = 2;" ui-sref="admin.lms.courseCategories">
                            <a href="javascript:void(0);">Categories</a>
                        </li>
                        <li ng-class="{'active' : vm.lmsTab == 3}" ng-click="vm.lmsTab = 3;" ui-sref="admin.lms.units">
                            <a href="javascript:void(0);">All Units</a>
                        </li>
                        <li ng-class="{'active' : vm.lmsTab == 4}" ng-click="vm.getCourseCallrequests();">
                            <a href="javascript:void(0);">Callback Request</a>
                        </li>
                        <li ng-class="{'active' : vm.lmsTab == 5}" ng-click="vm.getCoursesReview();">
                            <a href="javascript:void(0);">Courses Review</a>
                        </li>
                        <li ng-class="{'active' : vm.lmsTab == 6}" ng-click="vm.getLmsSettings();">
                            <a href="javascript:void(0);">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 col-sm-pull-3 vertical-nav-border">
                <div ui-view >
                </div>
            </div>
        </div>
    </div>
</div>
