<div ng-cloak>
    <div class="site-wrap">
        <section class="bg bg-navigation bg-pattern" id="logged-out-header">
            <div class="container">
                <nav class="clearfix">
                    <div class="navbar--title">
                        <a class="clearfix no-link-style" data-dc-track="" data-dc-referrer="main" href="javascript:void(0);">
                            <div class="logo"></div>
                        </a>
                    </div>
                </nav>
                <div class="container container-single-form">
                    <h2 class="text-center">Reset Your Password</h2>
                    <div class="row">
                        <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2">
                            <hr>
                            <form class="new_user" id="new_user" method="post">
                                <fieldset>
                                    <input autofocus="autofocus" required="required" placeholder="Email" type="email" value="" name="Email" id="Email" ng-model="vm.user.email">
                                </fieldset>
                                <fieldset>
                                    <input type="submit" name="commit" value="Reset my password" class="btn btn-primary m0" data-disable-with="Reset my password" ng-click="vm.resetPassword()">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="bottom-navigation-short">
            <div class="container clearfix">
                <div class="navbar--title">
                    <a class="clearfix no-link-style" href="javascript:void(0)">
                        <div class="logo"></div>
                    </a>
                </div>
                <ul class="inline clearfix hidden-xs">
                    <li><a href="javascript:void(0);">Support</a></li>
                    <li><a href="javascript:void(0);">Contact Us</a></li>
                    <li><a href="javascript:void(0);">Terms of Use</a></li>
                    <li><a href="javascript:void(0);">Privacy Policy</a></li>
                    <li><a href="javascript:void(0);">About</a></li>
                </ul>
                <div class="social-icons clearfix">
                    <a target="_blank" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                    <a target="_blank" href="javascript:void(0);"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>











<!-- <div ng-cloak class="userlogin">
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="margin-top-30 center">
                <img src="assets/images/logo.png" alt="Flavido" />
            </div>
            <div class="box-forgot">
                <form class="form-forgot">
                    <fieldset>
                        <legend>
                            Forget Password?
                        </legend>
                        <p>
                            Enter your e-mail address below to reset your password.
                        </p>
                        <div class="form-group">
                            <span class="input-icon">
                                    <input type="email" class="form-control" name="email" placeholder="Email" ng-model="vm.user.email">
                                    <i class="fa fa-envelope-o"></i> </span>
                        </div>
                        <div class="form-actions">
                            <a class="btn btn-primary btn-o" ui-sref="instructor.login">
                                <i class="fa fa-chevron-circle-left"></i> Log-In
                            </a>
                            <button type="submit" class="btn btn-primary pull-right" ng-click="vm.resetPassword();">
                                Submit <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </fieldset>
                </form>
                <div class="copyright">
                    &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> Flavido</span>. <span>All rights reserved</span>
                </div>
            </div>
        </div>
    </div>
</div>
 -->