@font-face {
    font-family: 'CalibriRegular';
    src: url('../fonts/calibri_light.eot');
    src: url('../fonts/calibri_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri_light.woff') format('woff'),
         url('../fonts/calibri_light.ttf') format('truetype'),
         url('../fonts/calibri_light.svg#CalibriRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CalibriBold';
    src: url('../fonts/calibri-webfont.eot');
    src: url('../fonts/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri-webfont.woff') format('woff'),
         url('../fonts/calibri-webfont.ttf') format('truetype'),
         url('../fonts/calibri-webfont.svg#CalibriRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'CalibriExtraBold';
    src: url('../fonts/calibrib-webfont.eot');
    src: url('../fonts/calibrib-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibrib-webfont.woff') format('woff'),
         url('../fonts/calibrib-webfont.ttf') format('truetype'),
         url('../fonts/calibrib-webfont.svg#CalibriRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CalibriItalic';
    src: url('../fonts/calibrii-webfont.eot');
    src: url('../fonts/calibrii-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibrii-webfont.woff') format('woff'),
         url('../fonts/calibrii-webfont.ttf') format('truetype'),
         url('../fonts/calibrii-webfont.svg#CalibriItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


@font-face {
    font-family: "rupee";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/rupee.eot?#iefix-2p2yn") format("embedded-opentype"), url("../fonts/rupee.woff?-2p2yn") format("woff"), url("../fonts/rupee.ttf?-2p2yn") format("truetype"), url("../fonts/rupee.svg?-2p2yn#icomoon") format("svg");
}
[class^="icon-"], [class*=" icon-"] {
    font-family: "rupee";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}
.icon-Rupee::before {
    content: "\e600";
}