<div ng-cloak>
  <div class="site-wrap">
    <section class="bg bg-navigation" id="logged-out-header">
      <div class="container">
        <main-navbar></main-navbar>
      </div>
    </section>
    <section class="home__ads top" ng-if="false">
      <div class="container">
        <div class="home__ad blue js-home-ad-upgrade_premium" data-ad-id="upgrade_premium">
          <div class="row">
            <div class="col-sm-4">
              <img style="margin-bottom: -4rem; margin-left: -2rem" src="assets/images/premium1.png" alt="Upgrade premium" />
            </div>
            <div class="col-sm-8">
              <h3 class="home__ad-title">Upgrade now for access to all flavido courses and&nbsp;resources.</h3>
              <p>If you are preparing for UPSC IAS Civil Services Examination, you have just landed on India’s Largest Network for UPSC IAS Preparation. If you have the UPSC IAS Civil services dream, we have the right Guidance for you.
              </p>
              <a class="btn btn-primary-invert ml0" href="javascript:void(0);">Upgrade Now</a>
            </div>
          </div>
          <div class="home__ad-close js-dismiss-home-ad" data-cookie="upgrade_premium" data-cookie-expires="&quot;2017-05-02T06:32:27.967+00:00&quot;"></div>
        </div>
      </div>
    </section>
    <section class="home__courses">
      <div class="container">
        <ul class="home__tabs nav-tabs" role="tablist">
          <li ng-class="{ 'active' : vm.courseTab == 1 }" ng-click="vm.courseTab = 1">
            <a href="javascript:void(0);" aria-controls="my-courses">My Courses</a>
          </li>
          <li ng-class="{ 'active' : vm.courseTab == 2 }" ng-click="vm.courseTab = 2">
            <a href="javascript:void(0);" aria-controls="library">Course Library</a>
          </li>
        </ul>
        <div class="tab-pane home__tab-pane" id="my-courses" ng-class="{ 'active' : vm.courseTab == 1 }">
          <div class="row">
            <div class="col-lg-4 col-sm-6" ng-repeat="course in vm.subscribedCourses">
              <!-- <a class="no-link-style no-link-color" href="javascript:void(0);"> -->
              <div class='course-block' ng-class="{'course-block--r' : $even, 'course-block--g' : $odd}">
                <div>
                  <!-- Don't remove these. Needed for flexbox -->
                  <h4 class="course-block__title" ng-bind="course.title"></h4>
                  <p class="course-block__description" ng-bind="'By ' + course.instructorFullName"></p>
                  <p class="course-block__description" ng-bind="course.shortDesc"></p>
                </div>
                <div class="course-block__base">
                  <a class="btn m0" href="javascript:void(0);" ng-click="vm.showCourse(course)" ng-class="{'btn-r' : $odd, 'btn-g' : $even}">
                    Start Course
                  </a>
                  <a class="btn m0 pull-right-cards" ng-href="/course/{{course.title | spaceToDash}}" ng-click="vm.showCourseDetails(course)" ng-class="{'btn-r' : $odd, 'btn-g' : $even}" style="left:44%;">
                    View Course
                  </a>
                </div>
                <div class="course-block__footer">
                  <span class="pull-right">Course expire <span ng-bind="course.courseEndDate | timeRemaining"></span></span>
                </div>
                <!-- <div class="course-block__footer">
                    <div class="course-block__chapters">
                        <a class="incompleted" data-toggle="tooltip" data-placement="bottom" data-title="Intro to basics" href="javascript:void(0);"></a>
                        <a class="incompleted" data-toggle="tooltip" data-placement="bottom" data-title="Vectors" href="javascript:void(0);"></a>
                        <a class="incompleted" data-toggle="tooltip" data-placement="bottom" data-title="Matrices" href="javascript:void(0);"></a>
                        <a class="incompleted" data-toggle="tooltip" data-placement="bottom" data-title="Factors" href="javascript:void(0);"></a>
                        <a class="incompleted" data-toggle="tooltip" data-placement="bottom" data-title="Data frames" href="javascript:void(0);"></a>
                        <a class="incompleted" data-toggle="tooltip" data-placement="bottom" data-title="Lists" href="javascript:void(0);"></a>
                    </div>
                </div> -->
              </div>
              <!-- </a> -->
            </div>
          </div>
          <!-- CTA -->
          <!-- <a class="btn btn-primary home__tab-button js-tab-open" href="javascript:void(0);">Explore Course Library</a> -->
        </div>
        <div role="tabpanel" class="tab-pane home__tab-pane" id="library" ng-class="{ 'active' : vm.courseTab == 2 }">
          <div class="row">
            <div class="col-lg-4 col-sm-6" ng-repeat="course in vm.allCourses">
              <!-- <a class="no-link-style no-link-color" href="javascript:void(0);" ng-click="vm.showCourseDetails(course)"> -->
              <div class="course-block" ng-class="{'course-block--r' : $even, 'course-block--g' : $odd}">
                <a ng-href="/course/{{course.title | spaceToDash}}" ng-click="vm.showCourseDetails(course)">
                  <!-- Don't remove these. Needed for flexbox -->
                  <h4 class="course-block__title" ng-bind="course.title"></h4>
                  <p class="course-block__description" md-truncate ng-bind="course.shortDesc"></p>
                </a>
                <a ng-href="/inst/{{course.instructorFullName | spaceToDash}}" class="course-block__author" ng-click="vm.showInstructorCourses(course)">
                  <div class="course-block__author-image">
                    <img class="image-rounded" width="70" height="70" src="{{course.instructorImage || '/assets/images/avatar.png'}}">
                  </div>
                  <div class="course-block__author-description">
                    <h5 ng-bind="course.instructorFullName"></h5>
                    <p ng-bind="course.instructorDesignation"></p>
                  </div>
                </a>
                <div class="course-block__footer">
                  <div class="col-xs-4" style="padding: 0px;">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span ng-bind="course.duration"></span><span ng-bind="course.durationParameter || 'Days'"></span>
                  </div>
                  <div class="col-xs-4 text-center" style="padding: 0px;">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span ng-bind="course.courseStartDate"></span>
                  </div>
                  <div class="col-xs-4 text-right" style="padding: 0px;">
                    <span ng-if="course.courseFee" ng-bind="course.courseFee | INR"></span>
                    <span ng-if="!course.courseFee" ng-bind="'Free'"></span>
                  </div>
                </div>
              </div>
              <!-- </a> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="recent--courses courses__start">
      <div class="container text-center coures-container">
        <div class="row cat-row" ng-init="vm.homeCoursesSlidStart = 0;" ng-if="vm.recentCourses.length > 0">
          <div class="row cat-title">
            <div class="col-md-9">
              <h3 class="slider_heading">You may be Interested in</h3>
            </div>
            <strong><strong>
                <div class="col-md-3">
                    <div class="controls pull-right hidden-xs">
                      <button class="left btn btn-primary" ng-disabled="vm.homeCoursesSlidStart == 0" ng-click="vm.homeCoursesSlidStart = vm.homeCoursesSlidStart - 2;">
                        <i class="fa fa-chevron-left"></i>
                      </button>
                      <button class="right btn btn-primary" ng-disabled="vm.homeCoursesSlidStart + 6 > vm.recentCourses.length - 1" ng-click="vm.homeCoursesSlidStart = vm.homeCoursesSlidStart + 2;">
                        <i class="fa fa-chevron-right"></i>
                      </button>
                    </div>
                </div>
            </strong></strong>
          </div>
          <div class="item slider">
            <div class="row">
              <div class="col-sm-2 col-xs-4" style="height: 170px;" ng-repeat="item in vm.recentCourses | limitTo : 6: vm.homeCoursesSlidStart">
                <div class="col-item">
                  <div class="photo">
                    <a ng-href="" ng-click="vm.showCourseDetails(item)" style="cursor: pointer;">
                        <img ng-src="{{item.image}}" class="img-responsive" alt="{{item.title}}" title="{{item.title}}" />
                        <span class="course-price" ng-bind="item.courseFee | INR"></span>
                        <p class="text-center" style="margin-top:4%;font-size:14px;" ng-bind="item.title"></p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row cat-title">
            <strong><strong>
                <div class="col-xs-12">
                    <div class="controls pull-right visible-xs">
                        <button class="left btn btn-primary" ng-disabled="vm.homeCoursesSlidStart == 0" ng-click="vm.homeCoursesSlidStart = vm.homeCoursesSlidStart - 1;">
                        <i class="fa fa-chevron-left"></i>
                        </button>
                    <button class="right btn btn-primary" ng-disabled="vm.homeCoursesSlidStart + 6 > vm.recentCourses.length - 1" ng-click="vm.homeCoursesSlidStart = vm.homeCoursesSlidStart + 1;">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                    </div>
                </div>
            </strong></strong>
          </div>
        </div>
      </div>
    </section>
    <section class="home__ads bottom" ng-if="false">
      <div class="container ">
        <div class="home__ad js-home-ad-gift_free " data-ad-id="gift_free ">
          <div class="row ">
            <div class="col-sm-4 ">
              <img class="home__ad-img " src="assets/images/giftFree.png" alt="Gift free " />
            </div>
            <div class="col-sm-8 ">
              <h3 class="home__ad-title ">We want to give you a chance to try out all our courses for free!</h3>
              <p class="home__ad-descr ">Give each of your friends 2 days of unlimited access and get 2 days for free as well.
                <br> For each friend who registers you will get 2 days of full access to our entire course curriculum.</p>
              <form class="js-email-gift-form " method="post ">
                <span class="form-error " id="to-error ">Please pass a list of email addresses separated by commas.</span>
                <div class="input-button ">
                  <input type="text " name="to " id="to " placeholder="friend1@gmail.com, friend2@gmail.com " ng-model="vm.invitationMail" />
                  <input type="submit" name="commit" value="Send Invitation" class="btn btn-primary" data-disable-with="Send Invitation" ng-click="vm.sendInvitation();" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <main-footer-bar></main-footer-bar>
</div>
