<div class="">
    <div class="row account-settings">
        <div class="tab-content">
            <h3>Unit</h3>
            <hr>
            <form class="edit_user" id="edit_user_727839" method="post">
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset>
                            <!-- <label for="name">Name</label>
                            <input type="text" name="name" id="name" ng-model="vm.unit.name"> -->
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Name</label>
                                <input ng-model="vm.unit.name">
                            </md-input-container>
                        </fieldset>
                        <fieldset>
                            <!-- <label for="description">Description</label>
                            <textarea id="description" name="description" rows="5" ng-model="vm.unit.description">
                            </textarea> -->
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Description</label>
                                <textarea id="description" name="Description" rows="5" ng-model="vm.unit.description">
                                </textarea>
                            </md-input-container>
                        </fieldset>
                        <fieldset>
                            <!-- <label for="unitDescription">Unit Description</label>
                            <textarea id="unitDescription" name="unitDescription" rows="5" ng-model="vm.unit.unitDescription">
                            </textarea> -->
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Unit Description</label>
                                <textarea id="unitDescription" name="unitDescription" rows="5" ng-model="vm.unit.unitDescription">
                                </textarea>
                            </md-input-container>
                        </fieldset>
                        <fieldset>
                            <!-- <label for="unitType">Unit Type</label>
                            <select ng-model="vm.unit.unitType" id="unitType" name="unitType" ng-options="type.id as type.name for type in vm.unitTypes"></select> -->
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Unit Type</label>
                                <md-select ng-model="vm.unit.unitType">
                                    <md-optgroup label="Unit Type">
                                        <md-option ng-value="type.id" ng-repeat="type in vm.unitTypes">{{type.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </fieldset>
                        <fieldset ng-if="vm.unit.unitType == 1">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Video Id</label>
                                <input ng-model="vm.unit.videoId">
                            </md-input-container>
                        </fieldset>
                        <fieldset ng-if="vm.unit.unitType == 5">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Test</label>
                                <md-select ng-model="vm.unit.testId" md-on-close="vm.searchTest='';" data-md-container-class="selectdemoSelectHeader">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="vm.searchTest.title" type="search" placeholder="Search for Test" ng-keydown="$event.stopPropagation();" />
                                    </md-select-header>
                                    <md-optgroup label="test.title">
                                        <md-option ng-value="test.id" ng-repeat="test in vm.tests | filter:vm.searchTest">{{test.title}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </fieldset>
                        <fieldset>
                            <!-- <input type="text" name="name" id="name" ng-model="vm.unit.freeUnit"> -->
                            <md-switch class="md-primary" ng-model="vm.unit.freeUnit" aria-label="Free Unit" ng-true-value="1" ng-false-value="0">
                                Free Unit
                            </md-switch>
                        </fieldset>
                        <fieldset>
                            <!-- <label for="duration">Duration</label>
                            <input type="number" name="duration" id="duration" ng-model="vm.unit.duration"> -->
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Duration</label>
                                <input ng-model="vm.unit.duration" type="number">
                            </md-input-container>
                        </fieldset>
                        <fieldset>
                            <!-- <label for="durationParameter">Duration Parameter</label>
                            <select ng-model="vm.unit.durationParameter" id="durationParameter" name="durationParameter" ng-options="duration.value as duration.name for duration in vm.unitDurations"></select> -->
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Duration Parameter</label>
                                <md-select ng-model="vm.unit.durationParameter">
                                    <md-optgroup label="Parameter">
                                        <md-option ng-value="duration.id" ng-repeat="duration in vm.unitDurations">{{duration.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </fieldset>
                        <fieldset>
                            <!-- <label for="connectedAssignments">Connected Assignments</label>
                            <input type="text" name="connectedAssignments" id="connectedAssignments" ng-model="vm.unit.connectedAssignments"> -->
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Connected Assignments</label>
                                <input ng-model="vm.unit.connectedAssignments">
                            </md-input-container>
                        </fieldset>
                        <fieldset>
                            <md-switch class="md-primary" ng-model="vm.unit.allowComment" aria-label="Allow Comment" ng-true-value="1" ng-false-value="0">
                                Allow Comment
                            </md-switch>
                        </fieldset>
                        <fieldset>
                            <md-switch class="md-primary" name="status" id="status" ng-model="vm.unit.status" aria-label="Course Status" ng-true-value="1" ng-false-value="0">
                                Status
                            </md-switch>
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="submit" name="commit" value="Save Changes" class="btn btn-primary m0" ng-click="vm.createUnit(vm.unit.image)" data-disable-with="Save Changes">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
